In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read the 2015 CSV File
csv_file = "Resources/happiness_2015.csv"
happiness_2015 = pd.read_csv(csv_file)
happiness_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [3]:
# Read the 2016 CSV Filec
sv_file = "Resources/happiness_2016.csv"
happiness_2016 = pd.read_csv(csv_file)
happiness_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [4]:
# Read the 2017 CSV File
csv_file = "Resources/happiness_2017.csv"
happiness_2017 = pd.read_csv(csv_file)
happiness_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [5]:
# Read the 2018 CSV File
csv_file = "Resources/happiness_2018.csv"
happiness_2018 = pd.read_csv(csv_file)
happiness_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [6]:
# Read the 2019 CSV File
csv_file = "Resources/happiness_2019.csv"
happiness_2019 = pd.read_csv(csv_file)
happiness_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [7]:
# List the column names 2015
happiness_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [8]:
# List the column names 2016
happiness_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [9]:
# List the column names 2017
happiness_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [10]:
# List the column names 2018
happiness_2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [11]:
# List the column names 2019
happiness_2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [12]:
# Rename columns to match all years

happiness_2015.columns = happiness_2015.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(','').str.replace(')','')
happiness_2015.head()

,country,region,happiness_rank,happiness_score,standard_error,economy_gdp_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [13]:
# Rename columns to match all years
happiness_2016.columns = happiness_2016.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(','').str.replace(')','')
happiness_2016.head()

,country,region,happiness_rank,happiness_score,lower_confidence_interval,upper_confidence_interval,economy_gdp_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [27]:
# Rename columns to match all years
happiness_2017.columns = happiness_2017.columns.str.strip().str.lower().str.replace('.', ' ')
happiness_2017.columns = happiness_2017.columns.str.replace(' ', '_')
happiness_2017.columns = happiness_2017.columns.str.replace('__', '_')
happiness_2017.head()

,country,happiness_rank,happiness_score,whisker_high,whisker_low,economy_gdp_per_capita,family,health_life_expectancy,freedom,generosity,trust_government_corruption,dystopia_residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [28]:
# Rename columns to match all years
happiness_2018.rename(columns={
    'Overall rank':'happiness_rank',
    'Country or region': 'country',
    'Score':'happiness_score',
    'GDP per capita': 'economy_gdp_per_capita',
    'Healthy life expectancy':'health_life_expectancy', 
    'Freedom to make life choices':'freedom',
    'Perceptions of corruption':'trust_government_corruption'
    
}, inplace=True)

happiness_2018.head()

,happiness_rank,country,happiness_score,economy_gdp_per_capita,Social support,health_life_expectancy,freedom,Generosity,trust_government_corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [29]:
# Rename columns to match all years
happiness_2019.rename(columns={
    'Overall rank':'happiness_rank',
    'Country or region': 'country',
    'Score':'happiness_score',
    'GDP per capita': 'economy_gdp_per_capita',
    'Healthy life expectancy':'health_life_expectancy', 
    'Freedom to make life choices':'freedom',
    'Perceptions of corruption':'trust_government_corruption'
    
}, inplace=True)

happiness_2019.head()

,happiness_rank,country,happiness_score,economy_gdp_per_capita,Social support,health_life_expectancy,freedom,Generosity,trust_government_corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [30]:
# Merge on country, we need all contries to be named the same
# List country names
happiness_2015.country.unique()

array(['Switzerland', 'Iceland', 'Denmark', 'Norway', 'Canada', 'Finland',
       'Netherlands', 'Sweden', 'New Zealand', 'Australia', 'Israel',
       'Costa Rica', 'Austria', 'Mexico', 'United States', 'Brazil',
       'Luxembourg', 'Ireland', 'Belgium', 'United Arab Emirates',
       'United Kingdom', 'Oman', 'Venezuela', 'Singapore', 'Panama',
       'Germany', 'Chile', 'Qatar', 'France', 'Argentina',
       'Czech Republic', 'Uruguay', 'Colombia', 'Thailand',
       'Saudi Arabia', 'Spain', 'Malta', 'Taiwan', 'Kuwait', 'Suriname',
       'Trinidad and Tobago', 'El Salvador', 'Guatemala', 'Uzbekistan',
       'Slovakia', 'Japan', 'South Korea', 'Ecuador', 'Bahrain', 'Italy',
       'Bolivia', 'Moldova', 'Paraguay', 'Kazakhstan', 'Slovenia',
       'Lithuania', 'Nicaragua', 'Peru', 'Belarus', 'Poland', 'Malaysia',
       'Croatia', 'Libya', 'Russia', 'Jamaica', 'North Cyprus', 'Cyprus',
       'Algeria', 'Kosovo', 'Turkmenistan', 'Mauritius', 'Hong Kong',
       'Estonia', 'Indonesia', 'Vietnam', 'Turkey', 'Kyrgyzstan',
       'Nigeria', 'Bhutan', 'Azerbaijan', 'Pakistan', 'Jordan',
       'Montenegro', 'China', 'Zambia', 'Romania', 'Serbia', 'Portugal',
       'Latvia', 'Philippines', 'Somaliland region', 'Morocco',
       'Macedonia', 'Mozambique', 'Albania', 'Bosnia and Herzegovina',
       'Lesotho', 'Dominican Republic', 'Laos', 'Mongolia', 'Swaziland',
       'Greece', 'Lebanon', 'Hungary', 'Honduras', 'Tajikistan',
       'Tunisia', 'Palestinian Territories', 'Bangladesh', 'Iran',
       'Ukraine', 'Iraq', 'South Africa', 'Ghana', 'Zimbabwe', 'Liberia',
       'India', 'Sudan', 'Haiti', 'Congo (Kinshasa)', 'Nepal', 'Ethiopia',
       'Sierra Leone', 'Mauritania', 'Kenya', 'Djibouti', 'Armenia',
       'Botswana', 'Myanmar', 'Georgia', 'Malawi', 'Sri Lanka',
       'Cameroon', 'Bulgaria', 'Egypt', 'Yemen', 'Angola', 'Mali',
       'Congo (Brazzaville)', 'Comoros', 'Uganda', 'Senegal', 'Gabon',
       'Niger', 'Cambodia', 'Tanzania', 'Madagascar',
       'Central African Republic', 'Chad', 'Guinea', 'Ivory Coast',
       'Burkina Faso', 'Afghanistan', 'Rwanda', 'Benin', 'Syria',
       'Burundi', 'Togo'], dtype=object)

In [31]:
happiness_2015.country.count()

158

In [32]:
# List country names
happiness_2016.country.unique()

array(['Denmark', 'Switzerland', 'Iceland', 'Norway', 'Finland', 'Canada',
       'Netherlands', 'New Zealand', 'Australia', 'Sweden', 'Israel',
       'Austria', 'United States', 'Costa Rica', 'Puerto Rico', 'Germany',
       'Brazil', 'Belgium', 'Ireland', 'Luxembourg', 'Mexico',
       'Singapore', 'United Kingdom', 'Chile', 'Panama', 'Argentina',
       'Czech Republic', 'United Arab Emirates', 'Uruguay', 'Malta',
       'Colombia', 'France', 'Thailand', 'Saudi Arabia', 'Taiwan',
       'Qatar', 'Spain', 'Algeria', 'Guatemala', 'Suriname', 'Kuwait',
       'Bahrain', 'Trinidad and Tobago', 'Venezuela', 'Slovakia',
       'El Salvador', 'Malaysia', 'Nicaragua', 'Uzbekistan', 'Italy',
       'Ecuador', 'Belize', 'Japan', 'Kazakhstan', 'Moldova', 'Russia',
       'Poland', 'South Korea', 'Bolivia', 'Lithuania', 'Belarus',
       'North Cyprus', 'Slovenia', 'Peru', 'Turkmenistan', 'Mauritius',
       'Libya', 'Latvia', 'Cyprus', 'Paraguay', 'Romania', 'Estonia',
       'Jamaica', 'Croatia', 'Hong Kong', 'Somalia', 'Kosovo', 'Turkey',
       'Indonesia', 'Jordan', 'Azerbaijan', 'Philippines', 'China',
       'Bhutan', 'Kyrgyzstan', 'Serbia', 'Bosnia and Herzegovina',
       'Montenegro', 'Dominican Republic', 'Morocco', 'Hungary',
       'Pakistan', 'Lebanon', 'Portugal', 'Macedonia', 'Vietnam',
       'Somaliland Region', 'Tunisia', 'Greece', 'Tajikistan', 'Mongolia',
       'Laos', 'Nigeria', 'Honduras', 'Iran', 'Zambia', 'Nepal',
       'Palestinian Territories', 'Albania', 'Bangladesh', 'Sierra Leone',
       'Iraq', 'Namibia', 'Cameroon', 'Ethiopia', 'South Africa',
       'Sri Lanka', 'India', 'Myanmar', 'Egypt', 'Armenia', 'Kenya',
       'Ukraine', 'Ghana', 'Congo (Kinshasa)', 'Georgia',
       'Congo (Brazzaville)', 'Senegal', 'Bulgaria', 'Mauritania',
       'Zimbabwe', 'Malawi', 'Sudan', 'Gabon', 'Mali', 'Haiti',
       'Botswana', 'Comoros', 'Ivory Coast', 'Cambodia', 'Angola',
       'Niger', 'South Sudan', 'Chad', 'Burkina Faso', 'Uganda', 'Yemen',
       'Madagascar', 'Tanzania', 'Liberia', 'Guinea', 'Rwanda', 'Benin',
       'Afghanistan', 'Togo', 'Syria', 'Burundi'], dtype=object)

In [33]:
happiness_2016.country.count()

157

In [34]:
# List country names
happiness_2017.country.unique()

array(['Norway', 'Denmark', 'Iceland', 'Switzerland', 'Finland',
       'Netherlands', 'Canada', 'New Zealand', 'Sweden', 'Australia',
       'Israel', 'Costa Rica', 'Austria', 'United States', 'Ireland',
       'Germany', 'Belgium', 'Luxembourg', 'United Kingdom', 'Chile',
       'United Arab Emirates', 'Brazil', 'Czech Republic', 'Argentina',
       'Mexico', 'Singapore', 'Malta', 'Uruguay', 'Guatemala', 'Panama',
       'France', 'Thailand', 'Taiwan Province of China', 'Spain', 'Qatar',
       'Colombia', 'Saudi Arabia', 'Trinidad and Tobago', 'Kuwait',
       'Slovakia', 'Bahrain', 'Malaysia', 'Nicaragua', 'Ecuador',
       'El Salvador', 'Poland', 'Uzbekistan', 'Italy', 'Russia', 'Belize',
       'Japan', 'Lithuania', 'Algeria', 'Latvia', 'South Korea',
       'Moldova', 'Romania', 'Bolivia', 'Turkmenistan', 'Kazakhstan',
       'North Cyprus', 'Slovenia', 'Peru', 'Mauritius', 'Cyprus',
       'Estonia', 'Belarus', 'Libya', 'Turkey', 'Paraguay',
       'Hong Kong S.A.R., China', 'Philippines', 'Serbia', 'Jordan',
       'Hungary', 'Jamaica', 'Croatia', 'Kosovo', 'China', 'Pakistan',
       'Indonesia', 'Venezuela', 'Montenegro', 'Morocco', 'Azerbaijan',
       'Dominican Republic', 'Greece', 'Lebanon', 'Portugal',
       'Bosnia and Herzegovina', 'Honduras', 'Macedonia', 'Somalia',
       'Vietnam', 'Nigeria', 'Tajikistan', 'Bhutan', 'Kyrgyzstan',
       'Nepal', 'Mongolia', 'South Africa', 'Tunisia',
       'Palestinian Territories', 'Egypt', 'Bulgaria', 'Sierra Leone',
       'Cameroon', 'Iran', 'Albania', 'Bangladesh', 'Namibia', 'Kenya',
       'Mozambique', 'Myanmar', 'Senegal', 'Zambia', 'Iraq', 'Gabon',
       'Ethiopia', 'Sri Lanka', 'Armenia', 'India', 'Mauritania',
       'Congo (Brazzaville)', 'Georgia', 'Congo (Kinshasa)', 'Mali',
       'Ivory Coast', 'Cambodia', 'Sudan', 'Ghana', 'Ukraine', 'Uganda',
       'Burkina Faso', 'Niger', 'Malawi', 'Chad', 'Zimbabwe', 'Lesotho',
       'Angola', 'Afghanistan', 'Botswana', 'Benin', 'Madagascar',
       'Haiti', 'Yemen', 'South Sudan', 'Liberia', 'Guinea', 'Togo',
       'Rwanda', 'Syria', 'Tanzania', 'Burundi',
       'Central African Republic'], dtype=object)

In [35]:
happiness_2017.country.count()

155

In [36]:
# List country names
happiness_2018.country.unique()

array(['Finland', 'Norway', 'Denmark', 'Iceland', 'Switzerland',
       'Netherlands', 'Canada', 'New Zealand', 'Sweden', 'Australia',
       'United Kingdom', 'Austria', 'Costa Rica', 'Ireland', 'Germany',
       'Belgium', 'Luxembourg', 'United States', 'Israel',
       'United Arab Emirates', 'Czech Republic', 'Malta', 'France',
       'Mexico', 'Chile', 'Taiwan', 'Panama', 'Brazil', 'Argentina',
       'Guatemala', 'Uruguay', 'Qatar', 'Saudi Arabia', 'Singapore',
       'Malaysia', 'Spain', 'Colombia', 'Trinidad & Tobago', 'Slovakia',
       'El Salvador', 'Nicaragua', 'Poland', 'Bahrain', 'Uzbekistan',
       'Kuwait', 'Thailand', 'Italy', 'Ecuador', 'Belize', 'Lithuania',
       'Slovenia', 'Romania', 'Latvia', 'Japan', 'Mauritius', 'Jamaica',
       'South Korea', 'Northern Cyprus', 'Russia', 'Kazakhstan', 'Cyprus',
       'Bolivia', 'Estonia', 'Paraguay', 'Peru', 'Kosovo', 'Moldova',
       'Turkmenistan', 'Hungary', 'Libya', 'Philippines', 'Honduras',
       'Belarus', 'Turkey', 'Pakistan', 'Hong Kong', 'Portugal', 'Serbia',
       'Greece', 'Lebanon', 'Montenegro', 'Croatia', 'Dominican Republic',
       'Algeria', 'Morocco', 'China', 'Azerbaijan', 'Tajikistan',
       'Macedonia', 'Jordan', 'Nigeria', 'Kyrgyzstan',
       'Bosnia and Herzegovina', 'Mongolia', 'Vietnam', 'Indonesia',
       'Bhutan', 'Somalia', 'Cameroon', 'Bulgaria', 'Nepal', 'Venezuela',
       'Gabon', 'Palestinian Territories', 'South Africa', 'Iran',
       'Ivory Coast', 'Ghana', 'Senegal', 'Laos', 'Tunisia', 'Albania',
       'Sierra Leone', 'Congo (Brazzaville)', 'Bangladesh', 'Sri Lanka',
       'Iraq', 'Mali', 'Namibia', 'Cambodia', 'Burkina Faso', 'Egypt',
       'Mozambique', 'Kenya', 'Zambia', 'Mauritania', 'Ethiopia',
       'Georgia', 'Armenia', 'Myanmar', 'Chad', 'Congo (Kinshasa)',
       'India', 'Niger', 'Uganda', 'Benin', 'Sudan', 'Ukraine', 'Togo',
       'Guinea', 'Lesotho', 'Angola', 'Madagascar', 'Zimbabwe',
       'Afghanistan', 'Botswana', 'Malawi', 'Haiti', 'Liberia', 'Syria',
       'Rwanda', 'Yemen', 'Tanzania', 'South Sudan',
       'Central African Republic', 'Burundi'], dtype=object)

In [37]:
happiness_2018.country.count()

156

In [38]:
# List country names
happiness_2019.country.unique()

array(['Finland', 'Denmark', 'Norway', 'Iceland', 'Netherlands',
       'Switzerland', 'Sweden', 'New Zealand', 'Canada', 'Austria',
       'Australia', 'Costa Rica', 'Israel', 'Luxembourg',
       'United Kingdom', 'Ireland', 'Germany', 'Belgium', 'United States',
       'Czech Republic', 'United Arab Emirates', 'Malta', 'Mexico',
       'France', 'Taiwan', 'Chile', 'Guatemala', 'Saudi Arabia', 'Qatar',
       'Spain', 'Panama', 'Brazil', 'Uruguay', 'Singapore', 'El Salvador',
       'Italy', 'Bahrain', 'Slovakia', 'Trinidad & Tobago', 'Poland',
       'Uzbekistan', 'Lithuania', 'Colombia', 'Slovenia', 'Nicaragua',
       'Kosovo', 'Argentina', 'Romania', 'Cyprus', 'Ecuador', 'Kuwait',
       'Thailand', 'Latvia', 'South Korea', 'Estonia', 'Jamaica',
       'Mauritius', 'Japan', 'Honduras', 'Kazakhstan', 'Bolivia',
       'Hungary', 'Paraguay', 'Northern Cyprus', 'Peru', 'Portugal',
       'Pakistan', 'Russia', 'Philippines', 'Serbia', 'Moldova', 'Libya',
       'Montenegro', 'Tajikistan', 'Croatia', 'Hong Kong',
       'Dominican Republic', 'Bosnia and Herzegovina', 'Turkey',
       'Malaysia', 'Belarus', 'Greece', 'Mongolia', 'North Macedonia',
       'Nigeria', 'Kyrgyzstan', 'Turkmenistan', 'Algeria', 'Morocco',
       'Azerbaijan', 'Lebanon', 'Indonesia', 'China', 'Vietnam', 'Bhutan',
       'Cameroon', 'Bulgaria', 'Ghana', 'Ivory Coast', 'Nepal', 'Jordan',
       'Benin', 'Congo (Brazzaville)', 'Gabon', 'Laos', 'South Africa',
       'Albania', 'Venezuela', 'Cambodia', 'Palestinian Territories',
       'Senegal', 'Somalia', 'Namibia', 'Niger', 'Burkina Faso',
       'Armenia', 'Iran', 'Guinea', 'Georgia', 'Gambia', 'Kenya',
       'Mauritania', 'Mozambique', 'Tunisia', 'Bangladesh', 'Iraq',
       'Congo (Kinshasa)', 'Mali', 'Sierra Leone', 'Sri Lanka', 'Myanmar',
       'Chad', 'Ukraine', 'Ethiopia', 'Swaziland', 'Uganda', 'Egypt',
       'Zambia', 'Togo', 'India', 'Liberia', 'Comoros', 'Madagascar',
       'Lesotho', 'Burundi', 'Zimbabwe', 'Haiti', 'Botswana', 'Syria',
       'Malawi', 'Yemen', 'Rwanda', 'Tanzania', 'Afghanistan',
       'Central African Republic', 'South Sudan'], dtype=object)

In [39]:
happiness_2019.country.count()

156

In [40]:
# Keep only relevant columns

new_happiness_2015 = happiness_2015[['country','happiness_rank', 'happiness_score', 'health_life_expectancy', 'freedom', 'trust_government_corruption']].copy()
new_happiness_2015.head()

,country,happiness_rank,happiness_score,health_life_expectancy,freedom,trust_government_corruption
0,Switzerland,1,7.587,0.94143,0.66557,0.41978
1,Iceland,2,7.561,0.94784,0.62877,0.14145
2,Denmark,3,7.527,0.87464,0.64938,0.48357
3,Norway,4,7.522,0.88521,0.66973,0.36503
4,Canada,5,7.427,0.90563,0.63297,0.32957

In [41]:
# Keep only relevant columns

new_happiness_2016 = happiness_2016[['country','happiness_rank', 'happiness_score',
                                     'health_life_expectancy', 'freedom', 'trust_government_corruption']].copy()
new_happiness_2016.columns = map(str.lower, new_happiness_2016.columns)
new_happiness_2016.head()

,country,happiness_rank,happiness_score,health_life_expectancy,freedom,trust_government_corruption
0,Denmark,1,7.526,0.79504,0.57941,0.44453
1,Switzerland,2,7.509,0.86303,0.58557,0.41203
2,Iceland,3,7.501,0.86733,0.56624,0.14975
3,Norway,4,7.498,0.79579,0.59609,0.35776
4,Finland,5,7.413,0.81091,0.57104,0.41004

In [42]:
# Keep only relevant columns

new_happiness_2017 = happiness_2017[['country','happiness_rank', 'happiness_score',
                                     'health_life_expectancy', 'freedom', 'trust_government_corruption']].copy()
new_happiness_2017.head()

,country,happiness_rank,happiness_score,health_life_expectancy,freedom,trust_government_corruption
0,Norway,1,7.537,0.796667,0.635423,0.315964
1,Denmark,2,7.522,0.792566,0.626007,0.400770
2,Iceland,3,7.504,0.833552,0.627163,0.153527
3,Switzerland,4,7.494,0.858131,0.620071,0.367007
4,Finland,5,7.469,0.809158,0.617951,0.382612

In [43]:
# Keep only relevant columns

new_happiness_2018 = happiness_2018[['country','happiness_rank', 'happiness_score',
                                     'health_life_expectancy', 'freedom', 'trust_government_corruption']].copy()
new_happiness_2018.head()

,country,happiness_rank,happiness_score,health_life_expectancy,freedom,trust_government_corruption
0,Finland,1,7.632,0.874,0.681,0.393
1,Norway,2,7.594,0.861,0.686,0.340
2,Denmark,3,7.555,0.868,0.683,0.408
3,Iceland,4,7.495,0.914,0.677,0.138
4,Switzerland,5,7.487,0.927,0.660,0.357

In [44]:
# Keep only relevant columns

new_happiness_2019 = happiness_2019[['country','happiness_rank', 'happiness_score',
                                     'health_life_expectancy', 'freedom', 'trust_government_corruption']].copy()
new_happiness_2019.head()

,country,happiness_rank,happiness_score,health_life_expectancy,freedom,trust_government_corruption
0,Finland,1,7.769,0.986,0.596,0.393
1,Denmark,2,7.600,0.996,0.592,0.410
2,Norway,3,7.554,1.028,0.603,0.341
3,Iceland,4,7.494,1.026,0.591,0.118
4,Netherlands,5,7.488,0.999,0.557,0.298

In [45]:
 # Connect to local database
# Create Engine

rds_connection_string = "postgres:postgres@localhost:5432/Happiness"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [46]:
# Check for tables

engine.table_names()

['happiness_2015',
 'happiness_2016',
 'happiness_2017',
 'happiness_2018',
 'happiness_2019']

In [48]:
# Use pandas to load csv converted DataFrame into database

new_happiness_2015.to_sql(name='happiness_2015', con=engine, if_exists='append', index=False)

In [49]:
# Use pandas to load csv converted DataFrame into database

new_happiness_2016.to_sql(name='happiness_2016', con=engine, if_exists='append', index=False)

In [50]:
# Use pandas to load csv converted DataFrame into database

new_happiness_2017.to_sql(name='happiness_2017', con=engine, if_exists='append', index=False)

In [51]:
# Use pandas to load csv converted DataFrame into database

new_happiness_2018.to_sql(name='happiness_2018', con=engine, if_exists='append', index=False)

In [52]:
# Use pandas to load csv converted DataFrame into database

new_happiness_2019.to_sql(name='happiness_2019', con=engine, if_exists='append', index=False)

In [53]:
# Confirm data has been added by querying the 2015 table

pd.read_sql_query('select * from happiness_2015', con=engine).head()

,country,happiness_rank,happiness_score,health_life_expectancy,freedom,trust_government_corruption
0,Switzerland,1.0,7.587,0.94143,0.66557,0.41978
1,Iceland,2.0,7.561,0.94784,0.62877,0.14145
2,Denmark,3.0,7.527,0.87464,0.64938,0.48357
3,Norway,4.0,7.522,0.88521,0.66973,0.36503
4,Canada,5.0,7.427,0.90563,0.63297,0.32957

In [54]:
# Confirm data has been added by querying the 2016 table

pd.read_sql_query('select * from happiness_2016', con=engine).head()

,country,happiness_rank,happiness_score,health_life_expectancy,freedom,trust_government_corruption
0,Denmark,1.0,7.526,0.79504,0.57941,0.44453
1,Switzerland,2.0,7.509,0.86303,0.58557,0.41203
2,Iceland,3.0,7.501,0.86733,0.56624,0.14975
3,Norway,4.0,7.498,0.79579,0.59609,0.35776
4,Finland,5.0,7.413,0.81091,0.57104,0.41004

In [55]:
# Confirm data has been added by querying the 2017 table

pd.read_sql_query('select * from happiness_2017', con=engine).head()

,country,happiness_rank,happiness_score,health_life_expectancy,freedom,trust_government_corruption
0,Norway,1.0,7.537,0.796667,0.635423,0.315964
1,Denmark,2.0,7.522,0.792566,0.626007,0.400770
2,Iceland,3.0,7.504,0.833552,0.627163,0.153527
3,Switzerland,4.0,7.494,0.858131,0.620071,0.367007
4,Finland,5.0,7.469,0.809158,0.617951,0.382612

In [56]:
# Confirm data has been added by querying the 2018 table

pd.read_sql_query('select * from happiness_2018', con=engine).head()

,country,happiness_rank,happiness_score,health_life_expectancy,freedom,trust_government_corruption
0,Finland,1.0,7.632,0.874,0.681,0.393
1,Norway,2.0,7.594,0.861,0.686,0.340
2,Denmark,3.0,7.555,0.868,0.683,0.408
3,Iceland,4.0,7.495,0.914,0.677,0.138
4,Switzerland,5.0,7.487,0.927,0.660,0.357

In [57]:
# Confirm data has been added by querying the 2019 table

pd.read_sql_query('select * from happiness_2019', con=engine).head()

,country,happiness_rank,happiness_score,health_life_expectancy,freedom,trust_government_corruption
0,Finland,1.0,7.769,0.986,0.596,0.393
1,Denmark,2.0,7.600,0.996,0.592,0.410
2,Norway,3.0,7.554,1.028,0.603,0.341
3,Iceland,4.0,7.494,1.026,0.591,0.118
4,Netherlands,5.0,7.488,0.999,0.557,0.298

In [58]:
#join in postgres

## Extract

We found a dataset on Kaggle called, “The World Happiness Report,” that ranks each country by their “Happiness Score” and contains the factors that effect this score (https://www.kaggle.com/unsdsn/world-happiness#2015.csv). We used 5 CSV files, one dataset for each year from 2015 to 2019.

## Transform

First, we renamed the column titles in order to make everything lower case, get rid of spaces, and ensure they were consistent throughout each dataset. We wanted to focus on only a few of the factors that make up the Happiness Score. Therefore, we got rid of the columns that we did not want to see and were left with 6 columns that are common throughout each dataset; Country, Happiness Rank, Happiness Score, Government Trust, Healthy Life Expectancy, and Freedom.

## Load

Once the data was clean, we connected to the engine, loaded to SQL, and created 5 tables, showing the 5 happiest countries per year from 2015 – 2019.